body {
    background: linear-gradient(to right, rgba(34, 4, 4, 0.991), rgb(68, 21, 4));
    text-align: center;
    color: white;
    font-family: sans-serif;

}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    gap: 20px;
    max-width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.cover-container {
    position: relative;
    height: 80px;
    min-height: 250px;
    width: 400px;
    max-width: 500px;
}


.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(35, 14, 14, 0.674);
    background-color: #3b3232;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

}


.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2.0rem;
    color: #4832f0;
    border-radius: 10px;
    border: 2px solid #4832f0;
    background-color: #2c0303;
    transition: transform 0.4s ease-out;
}

.cover-container:hover .cover {
    transform: translateY(250px) rotate(-180deg);
    border-color: #2c0303;
}

@media (max-width: 600px) {

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        gap: 10xpx;
        max-width: 80%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .cover-container {
        position: relative;
        height: 40px;
        min-height: 250px;
        width: 300px;
        max-width: 500px;
    }

}

.card h2 {
    font-size: 22px;
    text-align: right;
    color: #4832f0;
}

.card a {
    text-decoration: underline;
    color: #4832f0;

}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    background-color: #2c0303;
    color: white;
}

.title-image {
    width: 20%;
    height: 20%;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    padding-top: 5px;
    border-radius: 20%;
    background: radial-gradient(circle, rgba(168, 146, 203, 0.11), rgba(53, 32, 158, 0.137));

}