body {
    background: linear-gradient(to right, rgba(34, 4, 4, 0.991), rgb(68, 21, 4));
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.ex1-card {
    border: 1px solid #4d27ae;
    border-radius: 10px;
    margin: 20px;
}

/* The example card code start */
.ex1-code {
    position: relative;
    text-align: center;
    margin: 20px auto;
    padding-top: 20px;
    height: 100px;
    width: 300px;
    font-size: 1.5rem;
    color: rgb(161, 153, 35);
    background-color: black;
}

.code-type {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    height: 10px;
    width: 292px;
    font-size: 1.2rem;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
}

.code-type h4 {
    margin: 0;
    color: rgb(129, 114, 114);
}

/* The example card code end */

/* The example card result start */

.ex1-result {
    position: relative;
    text-align: center;
    margin: 20px auto;
    padding-top: 20px;
    height: 100px;
    width: 300px;
    color: black;
    background-color: white;
}

.circles {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    height: 10px;
    width: 292px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    background-color: rgb(212, 197, 197);
}

.circle1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #4d27ae;
}

.circle2 {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #4d27ae;
}

.circle3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4d27ae;
}

/* The example card result end */